body {
    text-align: center;
    color: aliceblue;
    width: 100vw;
    background-color: darkslateblue;
}

.slot-machine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 800px;
    margin-top: 10%;
    flex-direction: row;
}

img {
    width: 250px;
    height: 250px;
}