/* Body */
body {
    text-align: center;
    color: aliceblue;
    width: 100vw;
    background-color: darkslateblue;
}

/* Slot machine */
.slot-machine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 800px;
    margin-top: 7.5%;
    flex-direction: row;
    border: 10px solid darkturquoise;
}

/* Images */
img {
    width: 250px;
    height: 250px;
}

/* Slot spaces */
#window1, #window2, #window3 {
    border: 10px solid darkturquoise;
}

/* Credits text */
#user-funds {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-decoration: underline;
    border: double 7.5px gold;
    width: 30%;
    padding: 1%;
    display: inline-block;
}

/* Win/Loss text
#win, #loss {
    text-align: center;
} */

/* Button */
button{
    font-family: 'Bebas Neue', sans-serif;
    padding:6px 12px;
    border:none;
    background-color: #212121;
    color:#fff;
    font-size:50px;
    position: relative;
    opacity: 1;
    margin-top: 45px;
  }
  button::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    transform:scale(1);
    background-color: rgba(0,0,0,0.8);
    opacity:1;
    transition:all ease 0.5s;
    z-index:-1;
  }
  button:hover::after{
    animation:grow 0.5s ease;
  }
  
  @keyframes grow
  {
    0%{
      transform:scale(1);
      opacity:1;
    }
    100%{
      transform:scale(1.2);
      opacity:0;
    }
  }